@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    display: flex;
    flex-direction: column;
    height: 100vh

}
.brand_logo{
    font-family: 'Roboto Slab', serif ;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.5;
    margin-left: 2rem;
}

main {
    flex: 1 0 auto;
}
nav{
    background-color: #005bbb;
}
.btn-large{
    background-color: #005bbb;
    width: 100%;
}
#search{
height: 3rem;}

#itemCard{
    padding-top: 20px;
}

.image{
    height: 250px;
    width: 250px;
}

.search {
  width: 100%;
  position: relative
}

.search-logo {
    display: flex; 
    align-items: center; 
    height: 100%; 
    width: 100%;
}

.search-bar {
    width: 300px; 
    margin: 0 auto;
}
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #005bbb;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #005bbb;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #005bbb;
  background: #005bbb;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .view_list{
    margin-top: 35rem;
    margin-left: 39rem;
} */