{% extends 'inventory/base.html' %}

  {% block title %}DAM | Log in{% endblock %}

{% block style %}
 <style>
    h1 {
        position: relative; top:-20px;
        margin-top: 0;
        text-align: center;
    }
    .btn{
      background-color: #005bbb;
    }
    .btn:focus,
    .btn:hover {
      background-color: #002f56;
    }
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]) {
      border-bottom-color: #005bbb;
      box-shadow: 0 1px 0 0 #005bbb;
    }
    input[type=email]:not(.browser-default):focus:not([readonly])+label,
    input[type=password]:not(.browser-default):focus:not([readonly])+label {
      color: #005bbb;
    }
    .form-errors {
      background-color: #900;
      border-radius: 2px;
      color: #fff;
      padding: 1rem;
      text-align: center;
    }
    .log{
        font-size: 50px;
    }
  </style>
{% endblock %}

{% block body %}

    <div class="log">
     <h1>Log in</h1>

      {% if form.errors %}
        <div class="row form-errors">
          <div class="col s12">
            {{ form.non_field_errors|join:' ' }}
          </div>
        </div>
      {% endif %}

      <div class="row">
        <form class="col s12 m6 offset-m3" method="post">
          {% csrf_token %}

          <div class="card-panel">
            <div class="row">
              <div class="input-field col s12">
                {{ form.username }}
                {{ form.username.label_tag }}
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{ form.password }}
                {{ form.password.label_tag }}
              </div>
            </div>
            <div style="text-align: center;">
               <button class="btn">Log in</button>
            </div>

          </div>
        </form>
      </div>
    </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}


