[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
Pillow = "*"
whitenoise = "*"

[dev-packages]

[requires]
