[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
"psycopg2" = "*"
Pillow = "*"

[dev-packages]

[requires]
