@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);
@import url('https://fonts.googleapis.com/css?family=Lato');

#logo{
    padding-left: 10px;
}
@media only screen and (max-width: 768px) {
    #logo {
        padding-left: 0;
    }
}
#itemCard{
    padding-top: 20px;
}

.image{
    height: 250px;
    width: 250px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view_list{
  margin-left: 50%;
  margin-top: 8%;
  transform: translate(-50%, -50%);
}
::placeholder{
    color: black;
}

#searchBox{
    background-color:  lightgray;
    border-bottom: 1px solid lightgrey;
    padding-left: 1rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
#searchBox:hover{
    box-shadow: 0 0 2px rgba(33, 33, 33, 33);
}
#searchBox:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
