@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);
@import url('https://fonts.googleapis.com/css?family=Lato');

#itemCard{
    padding-top: 20px;
}

.image{
    height: 250px;
    width: 250px;
}

.search {
  width: 100%;
  /* border: 2px solid black; */
  position: relative
}

.search-logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search-bar {
    width: 60%;
    margin: 0 auto;
}
.searchTerm {
  float: left;
  width: 100%;
  border: 5px solid #005bbb;
  padding: 5px;
  height: 20px;
  border-radius: 2px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #005bbb;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #005bbb;
  background: #005bbb;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view_list{
  /* width: 10%; */
  margin-left: 50%;
  margin-top: 8%;
  transform: translate(-50%, -50%);

}