/*
CSS Directory:
1- head
2- body
3- footer
4- media
    a- buttons
5- imports
*/

body {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.brand_logo{
    font-family: 'Roboto Slab', serif ;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.5;
}

main {
    flex: 1 0 auto;
}
nav{
    background-color: #005bbb;
    width: 100%;
    margin-bottom: 15px;
}
.btn-large{
    background-color: #005bbb;
    width: 100%;
}

.pagination li.active {
  background-color: #005bbb;

}
.link{
  position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}
.card{
  min-height: 480px;
}
.card-image{
  height:300px;
}
.card-title{
  color: black;
}
.card:hover {
  box-shadow: 0 0 25px rgba(33,33,33,33);
}

