@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --black: #000; /* Bulls Black */
    --blue: #005bbb; /* UB Blue */
    --blue-dark: #002f56; /* Harriman Blue */
    --green: #427d10; /* not in the UB palette */
    --red: #900; /* Capen Brick */
    --white: #fff; /* Hayes Hall White */
    --grey: #e4e4e4; /* Baird point */
    --pgrey: #666;
}

body {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-family: Lato, Roboto, "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.65;
    min-height: 100vh;
}

nav {
    background-color: var(--blue);
    width: 100%;
}

.brand_logo {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.5;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

h2,
h3 {
    font-weight: 100;
    line-height: 1.5;
}

h4,
h5,
h6 {
    font-family: 'Lato';
    font-weight: 200;
    line-height: 1;
}

.btn,
.btn-large,
.btn-small {
    background-color: var(--blue);
}

.btn:focus,
.btn:hover,
.btn-large:focus,
.btn-large:hover,
.btn-small:focus,
.btn-small:hover {
    background-color: var(--blue-dark);
}

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom-color: var(--blue);
    box-shadow: 0 1px 0 0 var(--blue);
}

input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label {
    color: var(--blue);
}

.pagination li.active {
    background-color: var(--blue);
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#cols {
    padding-left: 40px;
}

footer {
    font-size: 14px;
    margin-top: 2rem;
    text-align: center;
}

.notification {
    background-color: var(--blue);
    border-radius: 2px;
    color: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.notification.error {
    background-color: var(--red);
}
.notification.success {
    background-color: var(--green);
}

span.badge.new.green {
    background-color: var(--green) !important; /* important to override Materialize's important */
}
span.badge.new.red {
    background-color: var(--red) !important; /* important to override Materialize's important */
}
