{% extends 'base.html' %}

{% load static %}

{% block title %}Item Details{% endblock %}

{% block style %}
<style>
    @media only screen and (max-width: 992px) {
        #cardprofile {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
{% endblock %}

{% block body %}
    <h1> {{ item.name }} Details </h1>

    <div id="cardprofile" class="col s12 l8">
        <div class="card">
            <div class="carousel carousel-slider" id="demo-carousel-slider">
                {% if item.id == 1 %}
                    <a class="carousel-item" href="#one!"><img src={% static 'img/laptop-demo-img-1.jpg' %}></a>
                    <a class="carousel-item" href="#two!"><img src={% static 'img/laptop-demo-img-2.jpg' %}></a>
                    <a class="carousel-item" href="#three!"><img src={% static 'img/laptop-demo-img-3.jpg' %}></a>
                    <a class="carousel-item" href="#four!"><img src={% static 'img/laptop-demo-img-4.jpg' %}></a>
                {% endif %}
                {% if item.id == 2 %}
                    <a class="carousel-item" href="#one!"><img src={% static 'img/oculus-demo-img-1.jpg' %}></a>
                    <a class="carousel-item" href="#two!"><img src={% static 'img/oculus-demo-img-2.jpg' %}></a>
                    <a class="carousel-item" href="#three!"><img src={% static 'img/oculus-demo-img-3.jpg' %}></a>
                    <a class="carousel-item" href="#four!"><img src={% static 'img/oculus-demo-img-4.jpg' %}></a>
                {% endif %}
                {% if item.id == 3 %}
                    <a class="carousel-item" href="#one!"><img src={% static 'img/echo-demo-img-1.jpg' %}></a>
                    <a class="carousel-item" href="#two!"><img src={% static 'img/echo-demo-img-2.jpg' %}></a>
                    <a class="carousel-item" href="#three!"><img src={% static 'img/echo-demo-img-3.jpg' %}></a>
                    <a class="carousel-item" href="#four!"><img src={% static 'img/echo-demo-img-4.jpg' %}></a>
                {% endif %}
                {% if item.id == 4 %}
                    <a class="carousel-item" href="#one!"><img src={% static 'img/raspi-demo-img-1.jpg' %}></a>
                    <a class="carousel-item" href="#two!"><img src={% static 'img/raspi-demo-img-2.jpg' %}></a>
                    <a class="carousel-item" href="#three!"><img src={% static 'img/raspi-demo-img-3.jpg' %}></a>
                    <a class="carousel-item" href="#four!"><img src={% static 'img/raspi-demo-img-4.jpg' %}></a>
                {% endif %}
                {% if item.id >= 5 %}
                    <a class="carousel-item" href="#one!"><img src={% static 'img/placeholder.png' %}></a>
                    <a class="carousel-item" href="#two!"><img src={% static 'img/placeholder.png' %}></a>
                    <a class="carousel-item" href="#three!"><img src={% static 'img/placeholder.png' %}></a>
                    <a class="carousel-item" href="#four!"><img src={% static 'img/placeholder.png' %}></a>
                {% endif %}
            </div>
            <script>
                $(document).ready(function(){
                    $('.carousel.carousel-slider').carousel({
                        fullWidth: true,
                        indicators: true
                    });
                })
            </script>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ item.name }}</span>
                <p>{{ item.description | linebreaksbr }}</p>
            </div>
        </div>
    </div>
    <div class="col s12 l4">
        <div class="row">
            <div class="card" style="background-color: #666666;">
                <div class="card-content white-text">
                    <span class="card-title">Who May Borrow</span>
                    <p>Current University at Buffalo faculty, staff and students may use their UB Card to borrow this item for a period of 2 weeks. It will be available for use at Baldy 19</p>
                </div>
            </div>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header" style="background-color: #e4e4e4">Want this item? <i style="text-align: right;" class="material-icons">expand_more</i></div>

                    <div class="collapsible-body">
                        {% if user.is_authenticated and item.available %}
                            <form action="{% url 'loans:reserve' item.id %}" method="post">
                                {% csrf_token %}

                                <button class="btn waves-effect waves-light" name="submit" type="submit">
                                    Reserve <i class="material-icons right">send</i>
                                </button>
                            </form>
                        {% elif not item.available %}
                            <p>This item is currently unavailable</p>
                        {% elif user.is_anonymous %}
                            <p>You must <a href="{% url 'users:log-in' %}?next={{request.path}}">log in</a> to reserve this item</p>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <script>
                $(document).ready(function(){
                    $('.collapsible').collapsible({accordion: true});
                });
            </script>
        </div>
    </div>
{% endblock %}
