{% extends 'base.html' %}

{% load static %}

{% block style %}
    <style>
        .profile {
            background-image: url({% static 'img/profile.png' %});
            border-radius: 50%;
            display: block;
            margin: auto;
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: lightblue;
            height: 280px;
            width: 280px;
        }

        .dash_btn {
            margin-left: auto;
            margin-right: auto;
            display: block;
            background-color: #005bbb;
            color: white;
            width: 240px;
            height: 40px;
            font-size: 20px;
            margin-top: 12px;
        }

        .dash_btn:hover {
            background-color: #002f56;
            box-shadow: 0 0 0.3px 0.3px black;
        }

        .box {
            box-shadow: 0 0 3px 0.1px gray;
            text-align: center;
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        @media only screen and (max-width: 600px) {
            .box {
                width: 100%;
            }

            h1 {
                font-size: 40px;
                padding-top: 5%;
            }

            .profile {
                width: 240px;
                height: 240px;
            }
        }
    </style>

{% endblock %}

{% block title %}Dashboard{% endblock %}
{% block body %}

    <h1>Dashboard</h1>
    <div class="box">

        <br>

        <div class="profile"></div>


        <h4>{{ user.get_full_name }}</h4>


        <hr>

        <div>
            <a class="dash_btn" href="{% url 'loans:allres' %}">Reserve Item List</a>
        </div>

        <div>
            <a class="dash_btn" href="#">Return Item List</a>
        </div>

        {#Currently adding and removing via django admin#}
        <div>
            <a class="dash_btn" href={% url 'admin:index' %}>Add/Remove Item</a>
        </div>

        {#        <div>#}
        {#            <a class="dashBtn" href="#">Remove Item</a>#}
        {#        </div>#}
        <br>
    </div>
    <br>

{% endblock %}
