{% extends 'base.html' %}

{% load static %}

{% block style %}
    <style>
        .card .card-content .card-title {
            margin: 8px 0 0;
        }

        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
            color: #005bbb;
            line-height: 2.5;
            margin: 0 12px;
            white-space: nowrap;
        }
        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):focus,
        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
            color: #002f56;
        }
        #clients{
            background-color: var(--pgrey);
        }
        .responsive {
            margin-top: 10%;
            width: 60%;
            background-color: var(--grey);
            border-radius:50%;
            height: auto;
        }
    </style>

{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <div class = "row">
        <div class="col l4 m6 s12">
            <div class="card" style="text-align: center;">
                <img src="{% static 'img/profile.png' %}" alt="Profile" class="responsive">
                <div class="card-content">
                    <span class="card-title">{{ user.get_full_name }}</span>
                </div>

                {% if user.is_staff %}
                <div class="card-action dashboard-links">
                    {% if perms.loans.view_itemreservation %}<a href="{% url 'loans:allres' %}">Reserve Item List</a>{% endif %}
                    {% if perms.loans.view_itemloan %}<a href="{% url 'loans:allrets' %}">Return Item List</a>{% endif %}
                    {% if perms.inventory.add_item %}<a href="{% url 'admin:inventory_item_changelist' %}">Add/Remove Item</a>{% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col l8 m6 s12">
            <div class="row card" id="clients">
                <h5 style="color: #ffffff;text-align: center; padding-top: 2%; margin-top: 0px;">Your Reservations</h5>
            <div class="card-content">
                {% if reserves %}
                    {% for reserve in reserves %}
                        {% if user.first_name.capitalize == reserve.client.first_name.capitalize %}
                            {% if user.last_name.capitalize == reserve.client.last_name.capitalize %}
                                <div class="card" style="min-height: 20%; ">
                                    <div class="card-content">
                                        <span class="card-title" style="color:black;">{{ reserve.item.name }}</span>
                                        <p>Reserved at: {{ reserve.reserved_at }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p style="color: #ffffff;text-align: center; font-size: large">No active reservations right now</p>
                {% endif %}
            </div>
            </div>
            <div class="row card" id="clients">
                <h5 class="card-title" style="color: #ffffff; text-align: center;  padding-top: 2%">Your Loans</h5>
                <div class="card-content">
                    {% if returns %}
                    {% for loan in returns %}
                        {% if user.first_name.capitalize == loan.client.first_name.capitalize %}
                            {% if user.last_name.capitalize == loan.client.last_name.capitalize %}
                                <div class="card" style="min-height: 20%;">
                                    <div class="card-content">
                                        <span class="card-title" style="color:black;">{{ loan.item.name }}</span>
                                        <p>Approved at: {{ loan.approved_at }}</p>
                                        <p>Due at: </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p style="color: #ffffff;text-align: center; font-size: large">No active Loans right now</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
