{% extends 'base.html' %}
{% load static %}
    {% block T %}
        <title>DAM</title>
    {% endblock %}
    {% block style %}
    <style>
        body{
            background-color: #005bbb ;
            height: 100%;
            width: 100%;
        }
        nav{
            box-shadow: 0 0 0 0;
        }
        #imageDAM{
            margin-top: 5%;
            margin-bottom: 5%;
            height: auto;
            width: auto;
        }
        .search{
            width:100%;
            margin-left: 0;
            display: block;
            margin-bottom: 0;
        }
        .searchBtn{
            background-color:  #006570;
            text-align: center;
            position: relative;
            display: inline-block;
            margin: 10px;
            font-size: 1rem;
        }
        .searchBtn:active{
            background-color:  #006570;
        }
        .searchDiv{
            text-align: center;
            display: block;
            margin-bottom: 0;
        }
    </style>
    {% endblock %}
{% block body %}

{% block logo %}{% endblock %}
    <div style="width: 100%; margin-top: 8rem">
        <img src="{% static 'img/DAM1.png' %}" class="center-block" id="imageDAM">
                <div class="search">
                    <form method="GET" id="searchForm" action="{% url 'inventory:search' %}"  accept-charset="utf-8">
                        <input class="searchField" id="searchBox" name="q" type="text" placeholder=" Search by Name or Description" value="{{request.GET.q}}" required>
                        <div class="searchDiv row">
                            <button class="waves-effect waves-light btn-small searchBtn col l2 m3 offset-l4 offset-m3  s8 offset-s2" type="submit" value="Search">
                                <i class="material-icons" style=" vertical-align: middle">search</i> <span>Search</span>
                            </button>
                            <a class="waves-effect waves-light btn-small searchBtn col l2 m3 s8 offset-s2" href="{% url 'inventory:search' %}" style="position: relative">
                                <p style="margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">View all Items</p>
                            </a>
                        </div>
                    </form>
                </div>
            </div>

{#    Prevent Empty Search without unpleaseant "Please Fill In" thingy#}
    <script>
        document.addEventListener('invalid', (function () {
            return function (e) {
                e.preventDefault();
                document.getElementById("searchBox").focus();
            };
        })(), true);
    </script>
{% endblock %}
