{% extends 'base.html' %}
{% block body %}
    <br>
    <div style="padding-top: 50%;">
        <div class="search-logo">
            <div class="search-bar">
{#                <div class="search">#}
{#                  <form action="#">#}
{#                    <input type="text" class="searchTerm" placeholder="What are you looking for?" required>#}
{#                    <button type="submit" class="searchButton">#}
{#                    <i class="fa fa-search"></i>#}
{#                    </button>#}
{#                  </form>#}
{#                </div>#}
                <a class="waves-effect waves-light btn-small view_list" href="{% url 'index' %}">
                    List of all Items
                </a>
            </div>
        </div>
    </div>
    <br>
{% endblock %}